{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
     content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!--<link rel="stylesheet" href="{% static '/css/styles.css' %}" > -->
    <style>
        body{
            background-color: #f2f2f2;
            display:flex;
            justify-content:center;
            align-items:center;
            text-align:center;
        }

        h2{
            color: #4CAF50;
        }

    </style>
</head>
<body>
    <h2>Welcome {{name}} to the login page</h2>
</body>

